.sliderSection {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slide.active {
    opacity: 1;
    position: relative;
  }
  
  .slide img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  
  /* Dots */
  .dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dot:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .activeDot {
    background: var(--color-primary);
  }
  
  /* Arrows */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-primary);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s ease;
  }
  
  .arrow:hover {
    transform: translateY(-50%) scale(0.9);
  }
  
  .left {
    left: 20px;
  }
  
  .right {
    right: 20px;
  }
  @media screen and (max-width: 768px) {
    .arrow {
      font-size: 1.5rem;
      padding: 6px 18px;
    }
  
    .left {
      left: 10px;
    }
  
    .right {
      right: 10px;
    }
    
  }